.product{
    display: flex;
    border-bottom: 1px solid aquamarine;
    margin-right: 30px;
    margin-top: 10px;
    
}
.product-name{
    color: blue;
    font-weight: 500;
}
.product-detail{
    margin-left: 55px;
    margin-bottom: 20px;
}

.reg-btn{
    background-color: rgb(240, 198, 61);
    height: 30px;
    width: 190px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}